
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
</head>
<body>
    <div>
        <label>Имя учетной записи</label>
        <input type="text" placeholder="Введите имя вашей учётной записи" />
        <label>Пароль</label>
        <input type="password" placeholder="Введите свой пароль" />
    </div>

    <div>
        <button href="Home/CheckUser">Войти</button>
    </div>
</body>
</html>